<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <div class="navigation">
                navigation
            </div>
        </header>

        <main>
            <section>
                <h1>Sentiment Analysis</h1>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="article" type="text" name="input" value=""  placeholder="Please enter the article adress">
                    <input type="submit" id="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section id="results">
                <div id="result-header"><strong>Analyis Results from Article:</strong></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>

        <footer>
            <p>Uses NLP via MeaningCloud API</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
