form {
    display: flex;
    flex-direction: column;
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    line-height: 16px;
    margin: 10px 0;
}

#article {
    font-size: medium;
}

#submit:hover {
    background-color: orange;
    color: white;
    font-size: medium;
}
